<main>
    <div class="container body-content">
        <div class="well">
            <h2>Всички потребители</h2>
            <div class="row">
                <table class="table table-striped table-hover ">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Потребителско име</th>
                        <th>Имейл</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>

                    <th:block th:each="user : ${users}">
                        <tr th:class="${user.isAdmin() ? 'info' : null}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName} +' '+ ${user.lastName}"></td>
                            <td th:text="${user.email}"></td>
                            <td>
                                <a  th:href="@{/profile/{id}(id=${user.id})}" >See</a>
                                <a th:href="@{/admin/users/edit/{id}(id=${user.id})}">Редактирай</a>
                                <a th:href="@{/admin/users/delete/{id}(id=${user.id})}">Изтрий</a>
                            </td>
                        </tr>
                    </th:block>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
