<main>
    <div class="container body-content">
        <h1>Search in articles by tags - <th:block th:text="${tag.name}"></th:block></h1>
        <div class="row">
            <th:block th:each="article : ${tag.articles}">
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2 th:text="${article.title}"></h2></header><p th:text="${article.summary}"></p>
                        <small class="author" th:text="${article.author.fullName}"></small>

                        <p>
                            <a class="btn btn-default btn-xs" th:each="tag:${article.tags}" th:href="@{/tag/articles/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                        </p>


                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   th:href="@{/article/{id}(id=${article.id})}">Още ...&raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </th:block>
        </div>
    </div>
</main>
