<main>
    <div class="container body-content">
        <h1>Search images by tags - <th:block th:text="${tag.name}"></th:block></h1>
        <div class="row">
            <th:block th:each="gallery : ${tag.galleries}">
                <div class="col-sm-3">
                    <article>
                        <header>
                            <h2 th:text="${gallery.title}"></h2>
                        </header>

                        <img class="img-thumbnail" width="300" height="250" th:src="@{'data:image/jpg;base64,' + ${gallery.image}}" />

                        <small class="author" th:text="${gallery.author.firstName} +' '+ ${gallery.author.lastName}"></small>
                        <br/>
                        <p>
                            <i class="fa fa-tags"></i><a class="btn btn-default btn-xs" th:each="tag:${gallery.tags}" th:href="@{/tag/gallery/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                        </p>


                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   th:href="@{/gallery/{id}(id=${gallery.id})}">More ...&raquo;</a>
                            </div>
                        </footer>
                    </article>
                </div>
            </th:block>
        </div>
    </div>
</main>
