<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/gallery/create}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Add new image</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="picture1">Upload an image</label>
                        <div class="col-sm-6">
                            <input type="file" class="form-control" id="picture1" placeholder="Pictures" name="image"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="gallery_title">Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="gallery_title" placeholder="Picture Title"
                                   name="title"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="gallery_info">Image caption</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="gallery_info" name="info"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="gallery_category">Category</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="gallery_category" name="categoryId">
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="gallery_tags">Tags</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="gallery_tags" placeholder="Tags" name="tagString"/>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input type="submit" class="btn btn-secondary" value="Submit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
