<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/gallery/delete/{id}(id=${galleries.id})}" method="POST">
                <fieldset>
                    <legend>Delete Image</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="gallery_title">Image Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="gallery_title" placeholder="Image Title" name="title" th:value="${galleries.title}" disabled="disabled"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="gallery_info">Съдържание</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="gallery_info" name="info" th:field="${galleries.info}" disabled="disabled"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/gallery/{id}(id = ${galleries.id})}">Отказ</a>
                            <input type="submit" class="btn btn-danger" value="Delete"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
