<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-12">
                <article>
                    <div style="text-align: center;">
                        <h2 th:text="${galleries.title}"></h2>
                    </div>

                    <a><img class="img-fluid" th:src="@{'data:image/jpg;base64,' + ${galleries.image}}"/></a>
                    <!--<form>
                        <input type="button" value="Download"
                               onClick="window.location.href='Download Location'"
                        >
                    </form>-->
                    <div class="col-lg-12">
                        <div style="float:left;">
                            <span  class="likebtn-wrapper" data-theme="custom" data-icon_l="hrt2" data-icon_l_c_v="#ffffff" data-label_c="#7e7071" data-label_c_v="#ffffff" data-counter_l_c="#ffffff" data-bg_c_v="#ff000f" data-f_family="Lucida Console" data-identifier="item_1" data-dislike_enabled="false" data-site_id="5a5f5e1ffa8fdf2c70acf082"></span>

                            <a class="btn btn-default btn-xs" th:href="@{/gallery}"><i class="fa fa-download lg"></i>Download</a>

                        </div>

                     

                        <div style="float:right;">
                            <th:block th:if="${userAuth}">
                                <th:block th:if="${user.isAdmin() OR user.isAuthor(galleries)}">
                                    <a class="btn btn-success btn-xs"
                                       th:href="@{/gallery/edit/{id}(id = ${galleries.id})}">Edit</a>
                                    <a class="btn btn-danger btn-xs"
                                       th:href="@{/gallery/delete/{id}(id = ${galleries.id})}">Delete</a>
                                </th:block>
                            </th:block>
                            <a class="btn btn-default btn-xs" th:href="@{/gallery}">Go back &raquo;</a>
                            <br/>
                        </div>

                    </div>

                    <div class="paste-here">

                    </div>
                    <!--<p th:text="${galleries.info}"></p>-->
                    <br/><br/><br/>
                    <div class="col-lg-12">
                        <div style="float:left;">
                            <a class="fa fa-tags"></a>
                            <a class="btn btn-default btn-xs" th:each="tag:${galleries.tags}"
                               th:href="@{/tag/gallery/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                        </div>
                    </div>

                    <div style="float: right">
                        <p><img class="img-circle" style="width: 40px;height: 40px"
                                th:src="@{'data:image/jpg;base64,' + ${galleries.author.profilePicture}}"/>
                            <a class="author" th:href="@{/profile/{id} (id=${galleries.author.id})}"
                               th:text="${galleries.author.firstName} +' '+ ${galleries.author.lastName}"></a></p>

                    </div>
                </article>
            </div>
        </div>
    </div>
</main>

<!-- LikeBtn.com BEGIN -->

<script th:inline="javascript">(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>


