<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/gallery/edit/{id}(id=${gallery.id})}" method="POST">
                <fieldset>
                    <legend>Edit Image</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="gallery_title">Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="gallery_title" placeholder="Image Title" name="title" th:value="${gallery.title}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="gallery_info">Caption</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="gallery_info" name="info" th:field="${gallery.info}"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="gallery_category">Category</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="gallery_category" name="categoryId">
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"  th:selected="${category.id == gallery.category.id}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="gallery_tags">Tags</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="gallery_tags" placeholder="Tags" name="tagString" th:value="${tags}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/gallery/{id}(id = ${gallery.id})}">Отказ</a>
                            <input type="submit" class="btn btn-success" value="Edit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
