<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-lg-5" th:each="category : ${categories}">
                <header>
                    <h4>
                        <a style="color: darkviolet"
                             th:href="@{/category/{id}(id=${category.id})}"
                             th:text="${category.name + ' [' + #sets.size(category.galleries) + ']'}">
                        </a>
                        <a th:href="@{/category/{id}(id=${category.id})}"><img style="width: 400px; height: 250px" th:src ="@{'data:image/jpg;base64,' + ${category.catPicture}}"/>

                            </a>
                    </h4>
                </header>
            </div>
        </div>
    </div>
</main>
