<main>
    <br/>
    <h3 style="text-align: center"  th:text="${category.name + ' [' + #sets.size(category.galleries) + ']'}"></h3>

    <br/>
    <div role="main" style="position: relative">
        <ul  style="display: none;" id="container">
        <th:block th:each="gallery : ${galleries}">
            <li class="col-lg-4">

                <!--<a th:href="@{/gallery/{id}(id=${gallery.id})}"><img class="img-thumbnail" th:src="@{'data:image/jpg;base64,' + ${gallery.image}}" /></a>-->
                <!--&lt;!&ndash; <article>-->
                     <!--<small class="author"  th:text="${gallery.author.firstName} + ' ' + ${gallery.author.lastName}"></small>-->
                 <!--</article>&ndash;&gt;-->
                <a th:href="@{'data:image/jpg;base64,' + ${gallery.image}}" th:src="@{'data:image/jpg;base64,' + ${gallery.image}}" th:title="${gallery.title}"  >
                    <img  th:src="@{'data:image/jpg;base64,' + ${gallery.image}}" class="img-thumbnail" />
                </a>

            </li>
        </th:block>
        </ul>
    </div>

</main>

<script th:inline="javascript">//wookmark call script
var defaultOptions = {
    align: 'center',
    autoResize: true,
    comparator: null,
    direction: undefined,
    ignoreInactiveItems: true,
    inactiveClass: 'wookmark-inactive',
    itemSelector: undefined,
    itemWidth: 420,
    fillEmptySpace: false,
    flexibleWidth: 0,
    offset: 0,
    outerOffset: 0,
    onLayoutChanged: undefined,
    placeholderClass: 'wookmark-placeholder',
    possibleFilters: [],
    resizeDelay: 50,
    verticalOffset: undefined
};
$('#container').wookmark(defaultOptions);
</script>



<script th:inline="javascript">//endless scroll script
    (function ($) {
        // Instantiate wookmark after all images have been loaded
        var wookmark,
            container = '#container',
            $container = $(container),
            $window = $(window),
            $document = $(document);

        imagesLoaded(container, function () {
            wookmark = new Wookmark(container, {
            });
        });

        /**
         * When scrolled all the way to the bottom, add more tiles
         */
        function onScroll() {
            // Check if we're within 100 pixels of the bottom edge of the broser window.
            var winHeight = window.innerHeight ? window.innerHeight : $window.height(), // iphone fix
                closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 100);

            if (closeToBottom) {
                // Get the first ten items from the grid, clone them, and add them to the bottom of the grid
                var $items = $('li', $container),
                    $firstTen = $items.slice(0, 10).clone().css('opacity', 0);
                $container.append($firstTen);

                wookmark.initItems();
                wookmark.layout(true, function () {
                    // Fade in items after layout
                    setTimeout(function() {
                        $firstTen.css('opacity', 1);
                    }, 300);
                });
            }
        };

        // Capture scroll event.
        $window.bind('scroll.wookmark', onScroll);
    })(jQuery);
</script>


<script  th:inline="javascript">//magnific popup
    (function ($) {
        // Prepare layout options.
        var wookmark;

        // Init lightbox
        $('#container').magnificPopup({
            delegate: 'li:not(.inactive) a',
            type: 'image',
            gallery: {
                enabled: true
            }
        });

        // Call the layout function after all images have loaded
        imagesLoaded('#container', function () {
            wookmark = new Wookmark('#container', {
            });
        });
    })(jQuery);


</script>





