<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/article/create}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Създай пост</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Заглавие</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_title" placeholder="Article Title"
                                   name="title"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Съдържание</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="article_content" name="content"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="picture1">pictures</label>
                        <div class="col-sm-6">
                             <input type="file" class="form-control" id="picture1" placeholder="Pictures" name="pictures" multiple=""/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_tags">Тагове</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="article_tags" placeholder="Tags" name="tagString"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Отмени</a>
                            <input type="submit" class="btn btn-secondary" value="Submit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
