<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <header>
                    <h3 th:text="${article.title}"></h3>
                </header>
                <th:block sec:authorize="isAuthenticated()" th:if="${user.isAdmin() OR user.isAuthor(article)}">
                    <a style="float: right" class="btn btn-success btn-xs" th:href="@{/article/edit/{id}(id = ${article.id})}">Edit</a>
                    <a style="float: right" class="btn btn-danger btn-xs" th:href="@{/article/delete/{id}(id = ${article.id})}">Delete</a>
                </th:block>



             <p th:text="${article.content}">

                </p>

                    <div class="col-lg-12">
                        <div style="float:left;">
                            <p><img class="img-circle" style="width: 40px;height: 40px"
                                    th:src="@{'data:image/jpg;base64,' + ${article.author.profilePicture}}"/>
                                <a class="author" th:href="@{/profile/{id} (id=${article.author.id})}" th:text="${article.author.firstName} + ' ' + ${article.author.lastName}"></a></p>
                        </div>
                    </div>
<br/><br/><br/><br/><br/>
                <div class="col-lg-12">
                    <div style="float:right;">
                        <a class="fa fa-tags"></a>
                        <a class="btn btn-default btn-xs" th:each="tag:${article.tags}" th:href="@{/tag/articles/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                    </div>
                    </div>
                <div class="col-lg-12">
                    <div style="float:right;">
                    <a class="btn btn-default btn-xs" th:href="@{/}">Go back &raquo;</a>
                </div>
                </div>
            </div>
        </div>
    </div>


            <th:block th:each="picture : ${article.pictures}">

                    <img class="img-thumbnail" th:src="@{'data:image/jpg;base64,' + ${picture.pictures}}"/>


            </th:block>



</main>


