<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/article/{id}(id = ${article.id})}" method="POST">
                <fieldset>
                    <legend>Редактирай поста</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_title">Заглавие</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="article_title" placeholder="Post Title" name="title" th:value="${article.title}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_content">Съдържание</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="6" id="article_content" name="content" th:field="${article.content}"></textarea>
                        </div>
                    </div>

                    <!--<div class="form-group">
                        <label class="col-sm-4 control-label" for="pictures">pictures</label>
                        <div class="col-sm-6">
                            <input type="file" class="form-control" id="pictures" placeholder="Pictures" name="pictures" th:value="${article.pictures}"/>
                        </div>
                    </div>-->

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_tags">Тагове</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="article_tags" placeholder="Tags" name="tagString" th:value="${tags}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/article/{id}(id = ${article.id})}">Отказ</a>
                            <input type="submit" class="btn btn-success" value="Edit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
