<main>
    <div class="container body-content span=8 offset=2" >
        <div class="well">
            <form class="form-horizontal" th:action="@{/user/edit}" method="post" enctype="multipart/form-data">
                <fieldset>
                    <legend>Edit User</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_firstname">First Name</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="text" id="user_firstname" placeholder="First Name" name="firstName" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_lastname">Last Name</label>
                        <div class="col-sm-4 ">
                            <input class="form-control" type="text" id="user_lastname" placeholder="Last Name" name="lastName" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_first">Password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_first" placeholder="Password"
                                   name="password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="user_password_second">Confirm password</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" id="user_password_second" placeholder="Password"
                                   name="confirmPassword"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="profilePicture">Профилна снимка</label>
                        <div class="col-sm-4">
                            <input type="file" class="form-control" id="profilePicture" placeholder="Profile Picture" name="profilePicture"/>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/profile}">Отказ</a>
                            <input value="Submit" type="submit" class="btn btn-success"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
