<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/login}" method="post">
                <fieldset>
                    <legend>Потребителски вход</legend>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="user_email">Имейл</label>
                        <div class="col-lg-4">
                            <input type="email" class="form-control" id="user_email" placeholder="Email" name="email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-4 control-label" for="password">Парола</label>
                        <div class="col-lg-4">
                            <input type="password" class="form-control" id="password" placeholder="Password" name="password"/>
                        </div>
                    </div>

                    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

                    <div class="form-group">
                        <div class="col-lg-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Отказ</a>
                            <button type="submit" class="btn btn-primary">Потребителски вход</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
