<main xmlns="http://www.w3.org/1999/html">
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-lg-4">

                <div style="float: right">
                    <br/>

                    <img style="width: 175px; height: 175px;float: right" class="img-thumbnail"
                         th:src="@{'data:image/jpg;base64,' + ${user.profilePicture}}"/>
                    <br/>
                </div>
            </div>

            <div class="col-lg-5">
                <br/>
                <div class="row">
                    <span style="font-size: 2rem; color: #0e0e0e;text-transform: uppercase;font-weight: 600;font-family: inherit"
                          class="text-justify" th:text="${user.firstName} + ' ' + ${user.lastName}"></span>
                    <a style="float: left" th:href="@{/user/edit}">
                        <button type="button" style="float: right;cursor: pointer" class="btn-link"><i
                                class="fa fa-pencil-square-o fa-2x"></i>
                        </button>
                    </a>
                    <a style="float: left" th:href="@{/logout}">
                        <button type="button" style="float: right;cursor: pointer" class="btn-link"><i
                                class="fa fa-power-off fa-2x"></i>
                        </button>
                    </a>

                </div>
                <span class="text-justify" th:text="${user.email}"></span>
                <br/><br/><br/>

                <a style="float: left" th:href="@{/gallery/create}">
                    <button type="button" style="float: right;cursor: pointer" class="btn btn-link"><i
                            class="fa fa-plus fa-lg"><i class="fa fa-picture-o fa-lg"></i> </i>
                    </button>
                </a>
                <a style="float: left" th:href="@{/article/create}">
                    <button type="button" style="float: right;cursor: pointer" class="btn btn-link"><i
                            class="fa fa-plus fa-lg"><i class="fa fa-file-text"></i> </i>
                    </button>
                </a>


            </div>
        </div>

        <hr class="my-4"/>

        <div class="btn-group" data-toggle="buttons">
            <br/>
            <span class="lead">"""""""""""""""""      Pictures submitted by this user</span>
            <br/><br/>
            <label style="float: right" class="btn btn-outline-dark active">
                <input name="options" id="option1" checked="" type="radio"/> Gallery
            </label>

            <label class="btn btn-outline-dark">
                <input name="options" id="option2" type="radio"/> Articles
            </label>
            <br/>
            <span class="lead">Articles submitted by this user """""""""""""""""</span>
            <br/><br/>
        </div>
        <br/><br/><br/>


    </div>
    <div style="position: relative">
        <div style="display: none;" id="container">
            <th:block th:each="gallery : ${galleries}">
                <div class="container-fluid">
                    <div class="col-lg-4">
                        <a th:href="@{/gallery/{id}(id=${gallery.id})}"><img class="img-thumbnail"
                                                                             th:src="@{'data:image/jpg;base64,' + ${gallery.image}}"/></a>
                        <!-- <article>
                             <small class="author"  th:text="${gallery.author.firstName} + ' ' + ${gallery.author.lastName}"></small>
                         </article>-->
                    </div>
                </div>
            </th:block>
        </div>
    </div>


</main>
<script th:inline="javascript">
    var defaultOptions = {
        align: 'center',
        autoResize: true,
        comparator: null,
        direction: undefined,
        ignoreInactiveItems: true,
        inactiveClass: 'wookmark-inactive',
        itemSelector: undefined,
        itemWidth: 415,
        fillEmptySpace: true,
        flexibleWidth: 0,
        offset: 0,
        outerOffset: 0,
        onLayoutChanged: undefined,
        placeholderClass: 'wookmark-placeholder',
        possibleFilters: [],
        resizeDelay: 50,
        verticalOffset: undefined
    };
    $('#container').wookmark(defaultOptions);
</script>