<main xmlns="http://www.w3.org/1999/html">
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-lg-4">

                <div style="float: right">
                    <br/>

                    <img style="width: 175px; height: 175px;float: right" class="img-thumbnail"
                         th:src="@{'data:image/jpg;base64,' + ${user.profilePicture}}"/>
                    <br/>
                </div>
            </div>

            <div class="col-lg-5">
                <br/>
                <div class="row">
                    <span style="font-size: 2rem; color: #0e0e0e;text-transform: uppercase;font-weight: 600;font-family: inherit"
                          class="text-justify" th:text="${user.firstName} + ' ' + ${user.lastName}"></span>
                    </div>
                <span class="text-justify" th:text="${user.email}"></span>
                <br/><br/><br/>


            </div>
        </div>

        <hr class="my-4"/>

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-outline-dark active ">
                <input name="options" id="option1" checked="" type="radio"/> Uploads
            </label>

            <label class="btn btn-outline-dark">
                <input name="options" id="option2" type="radio"/> Liked
            </label>
        </div>


    </div>

    <div style="position: relative">
        <div style="display: none;" id="myElementContainer" class="row">
            <th:block th:each="gallery : ${galleries}">
                <div class="container-fluid">
                    <div class="col-lg-4">
                        <a th:href="@{/gallery/{id}(id=${gallery.id})}"><img class="img-thumbnail"
                                                                             th:src="@{'data:image/jpg;base64,' + ${gallery.image}}"/></a>
                        <!-- <article>
                             <small class="author"  th:text="${gallery.author.firstName} + ' ' + ${gallery.author.lastName}"></small>
                         </article>-->
                    </div>
                </div>
            </th:block>
        </div>
    </div>

</main>
<script th:inline="javascript">
    var defaultOptions = {
        align: 'center',
        autoResize: true,
        comparator: null,
        direction: undefined,
        ignoreInactiveItems: true,
        inactiveClass: 'wookmark-inactive',
        itemSelector: undefined,
        itemWidth: 415,
        fillEmptySpace: true,
        flexibleWidth: 0,
        offset: 0,
        outerOffset: 0,
        onLayoutChanged: undefined,
        placeholderClass: 'wookmark-placeholder',
        possibleFilters: [],
        resizeDelay: 50,
        verticalOffset: undefined
    };
    $('#myElementContainer').wookmark(defaultOptions);
</script>




