<footer th:fragment="footer">
    <div class="col-lg-12">
        <br/><br/>
        <hr class="my-4"/>
        <div style="float: left">
        <a class="fa fa-diamond fa-lg"></a>
        <b>Make something great.</b>
        </div>

            <div style="float: right">&copy; 2017 - Olexandr Grabchak
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Follow Me</button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start"
                     style="position: absolute; transform: translate3d(0px, 22px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a href="https://www.facebook.com/MRUSNOIGRAESH" class="list-group-item"><i class="fa fa-facebook fa-2x"></i>@grabchakk</a>
                    <a href="https://www.youtube.com/channel/UCPibjuZlJiS7yqEOwHcShYQ?view_as=subscriber" class="list-group-item"><i class="fa fa-youtube fa-2x"></i>@bricksquad1017</a>
                    <a href="#" class="list-group-item"><i class="fa fa-instagram fa-2x"></i>@grabchakk</a>
                </div>
            </div>
        </div>
        </div>

</footer>
