<header th:fragment="header">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >

        <div class="btn-group" role="group" sec:authorize="hasRole('ADMIN')">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fa fa-plug fa-lg"></i> plug</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start"
                 style="position: absolute; transform: translate3d(0px, 44px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" th:href="@{/admin/categories/}">Categories</a>
                <a class="dropdown-item" th:href="@{/admin/users/}">Users</a>
            </div>
        </div>

        <a sec:authorize="isAuthenticated()" style="float: left" th:href="@{/gallery/create}">
            <button type="button" style="cursor: pointer" class="btn btn-primary"><i
                    class="fa fa-plus"></i><i class="fa fa-picture-o fa-lg"> </i>
            </button>
        </a>
        <a sec:authorize="isAuthenticated()" style="float: left" th:href="@{/article/create}">
            <button type="button" style="float: left;cursor: pointer" class="btn btn-primary"><i
                    class="fa fa-plus fa-lg"><i class="fa fa-file-text"></i> </i>
            </button>
        </a>



        <a th:href="@{/}" class="navbar-brand">
            <img th:src="@{/images/rsz_logo.png}" style="outline: #fff7f2 " class="img-circle" alt="logo"/>
        </a>




        <!-- end container-->
            <!-- Brand and toggle get grouped for better mobile display -->
            <!-- Collect the nav links, forms, and other content for toggling -->
           <!-- <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav trending-menu">
                    <li ><a class="week" href="#">TRENDING:</a></li>
                </ul>
            </div>--><!-- end navbar-collapse -->



        <!--<div class="col-sm-4">
            <form class="searchbox">
                <input type="search" placeholder="Search......" name="search" class="searchbox-input" onkeyup="buttonUp();" required=""/>
                <input type="submit" class="searchbox-submit" value="GO"/>
                <i class="fa fa-search fa-lg"><span class="searchbox-icon"></span></i>
            </form>
        </div>-->

        <div class="navbar-left">
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" style="color:white;" th:href="@{/}">Home</a>
                </li>

                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/register}">
                        Register
                    </a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">
                        Login
                    </a>
                </li>
            </ul>
        </div>
        </div>


        <div style="float: left" class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">collections</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start"
                 style="position: absolute; transform: translate3d(0px, 54px, 0px); top: 0px; left: 0px; will-change: transform;">
                <a class="dropdown-item" th:href="@{/gallery}">Gallery</a>
                <a class="dropdown-item" th:href="@{/article}">Articles</a>
            </div>



            <div class="col-lg-12"></div><div class="col-lg-9 "></div>
            <div style="float: right" sec:authorize="isAuthenticated()">



                <a th:href="@{/profile}">
                    <img style="width: 50px; height: 50px; float: right" class="img-circle"
                    th:src="@{'data:image/jpg;base64,' + ${user.profilePicture}}"/>
                </a>
                <a style="color: white;float: right" th:text="${user.firstName}" th:href="@{/profile}"></a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>






    </nav>
</header>