<script th:src="@{/scripts/jquery-3.2.1.min.js}"></script>
<script th:src="@{/scripts/bootstrap.js}"></script>
<script th:src="@{/scripts/bootstrap.bundle.js}"></script>
<script th:src="@{/scripts/wookmark.js}"></script>
<script th:src="@{/scripts/magnific-popup.js}"></script>
<script th:src="@{/scripts/jquery.flexslider.js}"></script>
<script th:src="@{/scripts/jquery.novacancy.js}"></script>
<script th:src="@{/scripts/jquery.curvedtext.js}"></script>
<script th:src="@{/scripts/jquery.throttle.js}"></script>
<script th:src="@{/scripts/jquery.typorize.js}"></script>
<script th:src="@{/scripts/search.js}"></script>