<main>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-dismissible alert-danger">
                    <h2>Забранен достъп</h2>
                    <h4>Трябва да <a th:href="@{/logout}" class="alert-link">влезете</a> с друг потребител.</h4>
                </div>
            </div>
        </div>
    </div>
</main>