<main>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/admin/categories/edit/{id}(id=${category.id})}" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Редактирай категория</legend>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="article_tags">Тагове</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="article_tags" placeholder="Tags" name="tagString" th:value="${tags}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="category_name">Име на категория</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="category_name" placeholder="Category Name" name="name" th:value="${category.name}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="catPicture">снимка</label>
                        <div class="col-sm-4">
                            <input type="file" class="form-control" id="catPicture" placeholder="Category Picture" name="catPicture" th:value="${category.catPicture}"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/admin/categories/}">Отмени</a>
                            <input type="submit" class="btn btn-success" value="Edit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
