<main>
    <div class="container body-content">
        <div class="well">
            <h2>Всички категории -
                <a th:href="@{/admin/categories/create}" class="btn btn-warning">Създай нова категория</a>
            </h2>
            <div class="row">
                <table class="table table-striped table-hover table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th>Име</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr class="table-active" th:each="category : ${categories}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category.name}"></td>
                        <td>
                            <a th:href="@{/admin/categories/edit/{id}(id = ${category.id})}">Редактирай</a>
                            <a th:href="@{/admin/categories/delete/{id}(id = ${category.id})}">Изтрий</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
