<main>
    <div class="container body-content">
        <div class="row">

            <blockquote class="blockquote blockquote-reverse">
                <h4 class="mb-0">Shoot for the moon, even if you miss, you'll land among the stars.</h4>
                <cite title="Source Title">~Les Brown</cite>
            </blockquote>
        </div>
<div id="container" style="position: relative;display: none">
            <th:block th:each="article : ${articles}">
                <div style="position: relative" class="col-md-3">
                    <article>
                        <header>
                            <h2 th:text="${article.title}"></h2>

                        </header>
                        <th:block
                                th:each="picture : ${article.pictures}"><div><img style="width: 200px; height: 150px" th:src ="@{'data:image/jpg;base64,' + ${picture.pictures}}"/></div></th:block>

                        <p th:text="${article.summary}"></p>


                        <div class="text-md-center">
                            <p><img class="img-circle" style="width: 25px;height: 25px"
                                    th:src="@{'data:image/jpg;base64,' + ${article.author.profilePicture}}"/>
                                <a class="author" th:href="@{/profile/{id} (id=${article.author.id})}" th:text="${article.author.firstName} + ' ' + ${article.author.lastName}"></a></p>

                        </div>
                        <footer>
                            <div style="position: relative" class="text-md-right">
                                <a class="btn btn-default btn-xs"
                                   th:href="@{/article/{id}(id=${article.id})}">Read more &raquo;</a>
                            </div>
                        </footer>
                        <br/><br/><br/>


                    </article>
                </div>
            </th:block>
        </div>
    </div>

</main>

<script th:inline="javascript">//wookmark call script
var defaultOptions = {
    align: 'center',
    autoResize: true,
    comparator: null,
    direction: undefined,
    ignoreInactiveItems: true,
    inactiveClass: 'wookmark-inactive',
    itemSelector: undefined,
    itemWidth: 420,
    fillEmptySpace: false,
    flexibleWidth: 0,
    offset: 0,
    outerOffset: 0,
    onLayoutChanged: undefined,
    placeholderClass: 'wookmark-placeholder',
    possibleFilters: [],
    resizeDelay: 50,
    verticalOffset: undefined
};
$('#container').wookmark(defaultOptions);
</script>