<main>
    <div class="container">
        <div  class="jumbotron"
             style="background-image: url(http://www.mutina.it/en/wp-content/uploads/2017/10/cover_7113_2-1400x795.jpg); background-size: 100% 100%;">
            <h1 id="no" class="display-3" >FLYER</h1>
            <br/><br/>
            <p class="lead" style="text-align: center;color: white">Explore free high-resolution images.</p>


            <div class="col-lg-8">
                <form style="float: right" class="navbar-form" role="search">
                    <div class="input-group add-on">
                        <input class="form-control" placeholder="Search images" id="search" type="text"/>
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search fa-lg"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="container-fluid">
    <div class="row" id="parse-galleries">
    </div>
    </div>

</main>
<script th:inline="javascript">
    $('#no').novacancy({
        'reblinkProbability': 0.9,
        'blinkMin': 0.2,
        'blinkMax': 0.8,
        'loopMin': 2,
        'loopMax': 5,
        'color': '#ffffff',
        'glow': ['0 0 80px #ffffff', '0 0 30px #008000', '0 0 6px #0000ff'],
        'off': 1,
        'blink': 0,
        'classOn': 'on',
        'classOff': 'off',
        'autoOn': true
    });

</script>

